doctype html
html
    head
        style
            include style.css

        body
            div
                block content
            div.footer
                |best regards
                br
                a(href= 'https://google.com') Click here!
